body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-px);
    font-weight: var(--fw-400);
}

.top-con {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}

 .bg-banner {
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.top-bar nav {
    display: flex;
    margin: 2rem 3.6rem;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 30%;
}

.huddle-logo img {
    height: 1.25rem;
    margin-top: 0.5rem;
}
/* buttons */
.try-it-btn {
    border-radius: 40px;
    min-height: 35px;
    min-width: 176px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    cursor: pointer;
}
/*  */
.container-top {
   display: flex;
   justify-items: center;
   align-items: center;
   max-width: 100%;
   margin: 3.6rem 3.6rem 0px 3.6rem;
}



.image1 img {
    max-width: 100%;
    max-height: 100%;
}

.build-community {
    flex-direction: column;
    display: flex;
    width: 80%;
}

.build-community p {
    width: 85%;
    margin-top: 30px;
    font-size: 1.2rem;
    max-width: 90%;
}

.build-community h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
}

.wrap {
    margin-top: 10px;
}

.get-started {
    border-radius: 40px;
    min-height: 50px;
    min-width: 220px;
    border: none;
    background-color: #FE52C0;
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    margin-top: 30px;

}

.get-started:hover {
    background-color: #d647a2;
    cursor: pointer;
}

.get-started:active {
    background-color: #FF9BDB;
}

@media all and (max-width: 426px) {
    .bg-banner {
        background-image: url(./images/bg-hero-mobile.svg);
        background-size: cover;
    }


    .top-bar nav {
        display: flex;
        max-width: 100%;
        gap: 10%;
        margin: 2rem 1.4rem;
    }

    .huddle-logo img {
        min-height: 20%;
    }

    .try-it-btn {
        min-width: 120px;
        min-height: 25px;
    }

    .container-top {
        flex-wrap: wrap;
        margin: 4rem 2rem;
        align-items: center;
        display: flex;
        min-height: 100%;
    }

    .build-community {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 30%;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        text-align: center;
    }

    .build-community h1 {
        font-size: 1.7rem;
    }

    .build-community p {
        text-align: center;
        min-width: 100%;
    }

    .get-started {
        min-width: 300px;

        min-height: 45px;
        font-weight: 600;
    }

    #bg-banner {
        background-size: cover;
        min-height: 100%;
    }
}

.bg-color-bottom {
    background-color: #00252E;
    color: white;
    height: 400px;
    position: absolute;
    min-width: 100%;
}

.container-bottom {
    background-color: #00252E;
    display: flex;
    margin: 3.6rem 20rem 0px 3.6rem;
    font-size: 1em;
}

.huddle-logo-2 {
    width: 200px;
    margin-bottom: 20px
}

.info-box-1 {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.location-logo, .phone-logo, .email-logo {
    position: absolute;
    margin-top: 25px;
}

.location p, .email p, .p-number p  {
    margin-left: 30px;
    width: 350px;
    margin-top: 20px;
}

.info-box-2, .info-box-3 {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    margin-right: 5rem;
}

.info-box-2 P, .info-box-3 p {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.copyright p {
    font-size: 0.7rem;
    text-align: right;
    margin: 100px;
}

@media all and (max-width: 426px) {
    .bg-color-bottom {
        background-color: #00252E;
        color: white;
        min-width: 100%;
        min-height: 100%;
    }
    
    .container-bottom {
        background-color: #00252E;
        display: flex;
        font-size: 1em;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 3.6rem 0px 0px 1rem;
    }
    
    .huddle-logo-2 {
        width: 200px;
    }
    
    .info-box-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;

    }
    
    .location-logo, .phone-logo, .email-logo {
        position: absolute;
        margin-top: 25px;
    }
    
    .location p, .email p, .p-number p  {
        margin-left: 30px;
        margin-top: 20px;
    }
    
    .info-box-2, .info-box-3 {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .info-box-2 P, .info-box-3 p {
        margin-top: 15px;
    }
    
    .copyright {
        display: inline-block;
        margin-top: 70px;
        font-size: 0.7rem;
        width: 400px;
        margin-left: 1rem;
    }

    .copyright p {
        margin: 0;
        text-align: center;
    }
}
