/* 
1. Variables
2. General
3.Nav
4.buttons

*/



/* || CSS Variables */
:root {
    /* primary */
    --clr-pink : hsl(193, 100%, 66%);
    /* neutral color */
    --clr-paleCyan: hsl(192, 100%, 9%);
    --clr-darkCyan: hsl(192, 100%, 9%);
    --clr-grayishBlue: hsl(208, 11%, 55%);
    /* font
    fs- font size
    fw- font weight
    */

    --fs-px: 18px;
    --fw-600: 600;
    --fw-400: 400;
    --fw-700: 700; 
}

/* || General */
body {
    font-family: 'Poppins', sans-serif;
<<<<<<< Updated upstream
    font-size: var(--fs-px);
    font-weight: var(--fw-400);
=======
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
>>>>>>> Stashed changes
}


#bg-banner {
    background-image: url(./images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* || Navbar */
header{

<<<<<<< Updated upstream
    margin-block: 1em 3em;
=======
.top-bar {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    max-width: 100%;
    gap: 20%;
    margin: 1.25rem 6.25rem;
>>>>>>> Stashed changes
}

.huddle-logo{
display: flex;
justify-content: space-between;
}
.huddle-logo img {
    height: 1.25rem;
    margin-top: 0.5rem;
}
/* buttons */
.try-it {
    border-radius: 40px;
    min-height: 35px;
    min-width: 176px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
}
<<<<<<< Updated upstream
/*  */
.container-top {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 
  
   
 
}

.image1 {
    max-width: 60%;
   
}



.build-community h1 {
    font-size: var(--fs-px);
    font-weight: var(--fw-600);
=======
.try-it:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.try-it:active {
    background-color: #FF9BDB;
    color: white;
}

@media all and (max-width: 426px) {
    .top-bar {
        display: flex;
        justify-content: space-between;
        height: 2.5rem;
        max-width: 100%;
        gap: 10%;
        margin: 1.25rem 1.25rem;
    }

    .try-it {
        min-width: 125px;
        min-height: 13px;
    }
}

.container-top {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 6.25rem;
    height: 38rem;
    max-width: 100%;
    gap: 10px;
    align-items: center;
}

.image1 img{
    max-width: 100%;
    height: auto;
    max-height: 450px;    
}


.build-community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
    min-width: 300px;
}

.build-community h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 2rem;    
>>>>>>> Stashed changes
}

.wrap {
    margin-top: 10px;
}

.get-started {
    border-radius: 40px;
    min-height: 50px;
    min-width: 220px;
    border: none;
    background-color: #FE52C0;
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    margin-top: 15px;
}

.get-started:hover {
    background-color: #d647a2;
    cursor: pointer;
}

.get-started:active {
    background-color: #FF9BDB;
}

@media all and (max-width: 426px) {
    .container-top {
        flex-wrap: wrap;
        margin: 4rem 2rem;
        align-items: center;
        display: flex;
    }

    .build-community {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 30%;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

    }

    .heading h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .heading p {
        text-align: center;
        font-size: 1.125em;

    }

    .get-started {
        min-width: 250px;
        min-height: 45px;
        font-weight: 600;
    }

    #bg-banner {
        background-size: cover;
        min-height: 100%;
    }
}