/* 
1. Variables
2. General
3.Nav
4.buttons

*/



/* || CSS Variables */
:root {
    /* primary */
    --clr-pink : hsl(193, 100%, 66%);
    /* neutral color */
    --clr-paleCyan: hsl(192, 100%, 9%);
    --clr-darkCyan: hsl(192, 100%, 9%);
    --clr-grayishBlue: hsl(208, 11%, 55%);
    /* font
    fs- font size
    fw- font weight
    */

    --fs-px: 18px;
    --fw-600: 600;
    --fw-400: 400;
    --fw-700: 700; 
}

/* || General */
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-px);
    font-weight: var(--fw-400);
}


#bg-banner {
    background-image: url(./images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* || Navbar */
header{

    margin-block: 1em 3em;
}

.huddle-logo{
display: flex;
justify-content: space-between;
}
.huddle-logo img {
    height: 1.25rem;
    margin-top: 0.5rem;
}
/* buttons */
.try-it {
    border-radius: 40px;
    height: 35px;
    width: 176px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
}
/*  */
.container-top {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 
  
   
 
}

.image1 {
    max-width: 60%;
   
}



.build-community h1 {
    font-size: var(--fs-px);
    font-weight: var(--fw-600);
}

.wrap {
    margin-top: 10px;
}
